body {
    background-color: white;
    margin: 0px;
    height: 2000px;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.mainWpaper {
    display: block;
    width: 100%;
    box-sizing: border-box
  }