<div class="about">
  <div class="aboutFix aboutUs">
      <h2>About US</h2>
      <p>The Association of Mountain Skiers has been established in 2016.
        Its purpose is to boost the development of mountain skiing culture in Armenia.
        The Association seeks to promote and ensure a large influx of people into the mountains of Armenia.
        The Association's mission is to gather ski lovers,
        professionals and experts around it to find ways to improve this type of sport in Armenia.
        The founding members of the Association are Hovhannes Martirosyan as director and
        Tigran Simonyan as deputy director. Association aims to develop skiing in Armenia,
        particularly through festivals and competitions. </p>
  </div>
  <div class="aboutFix weatherD">
    <ul class="weatherU">
      <li><a href="#"><img src="../../assets/winter.jpg" alt="Winter"></a></li>
      <li><a href="#"><img src="../../assets/summer.png" alt="Summer"></a></li>
      <li><a href="#"><img src="../../assets/spring.png" alt="Spring"></a></li>
    </ul>
  </div>
</div>
