.about {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
  }
  
  .aboutUs {
    display: inline-block;
    width: 50%;
    text-align: justify;
    font-family: Raleway,sans-serif;
    font-size: 18px;
  }
  
  .weatherD {
    width: 50%;
    float: right;
  }
  
  .weatherU {
    width: 100%;
    text-align: center;
  }
  
  .aboutFix {
    display: inline-block;
  }
  
  div div ul li {
    display: inline-block;
    width: 22%;
  }
  
  div div ul li a {
    width: 100%;
  }
  
  div div ul li a img {
    width: 100%;
  }
  
  * {
  
    outline: 0.01px black solid;
  }
  
  /* <---------------------- activity-----------------------> */
  
  .activity {
    display: block;
    box-sizing: border-box;
    background-color: azure;
    height: 100px;
  }